/* App.css */
body {
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
  background-color: #f5f5f5;
}

.title {
  font-size: 48px;
  text-align: center;
  margin-top: 30px;
}

.game-container {
  display: flex;
  justify-content: center;
}

.rule-text {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}
.rule-text strong {
  color: #F44336;
}
